

    <div class="medium-list" class="col-md-8">
        <div class="list-viewer-wrapper">
            <div class="list-header-title"><h2> Email Template</h2></div>
    <div class="card mb-3" style="max-width: 1000px;">
        
            To: <input type="text" class="form-control" name="" id=""><br>
            Subject: <input class="form-control" type="text"><br>
            Message: <textarea id="w3review" class="form-control"  name="w3review" rows="4" cols="100"> </textarea>
           <br><br>
        <div class="row no-gutters">
          <div class="col-md- 6">
            <div class="col-sm-6 col-md-12">
              <div class="team-block">
                <div class="carousel-inner">
                <div class="team-man">
                  <img src="../assets/cms.png">
                </div>
                </div></div></div>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
                
                    <form action="">
                     <ng-container *ngFor="let user of userArray">
                         <tr class="table table-striped " *ngIf="filterCondition(user)">
                             <div class="signature">
                           <b> Name:</b>{{user.fullName}} <br>
                           <b> Position:</b>{{user.position}} 
                           <b> Department:</b>{{user.department}} <br>
                           <b> Address: </b>{{user.address}} <br>
                           <b>Email:</b>{{user.email}}<br>
                           <b>Phone:</b>{{user.phone}}
                           <b>Mobile</b>{{user.mobile}} <br>
                           <div class="team-social-network">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                          </div>

                          
         
                         </div>
                     </tr>
                 </ng-container>
                </form>
             </div>           
          </div>
        </div>
      </div>
      </div>
</div>



    <div class="medium-list" class="col-md-8">
        <div class="list-viewer-wrapper">
            <div class="list-header-title"><h2> Email Template</h2></div>
    <div class="card mb-3" style="max-width: 1000px;">
        
            To: <input type="text" class="form-control" name="" id=""><br>
            Subject: <input class="form-control" type="text"><br>
            Message: <textarea id="w3review" class="form-control"  name="w3review" rows="4" cols="100"> </textarea>
           <br><br>
        <div class="row no-gutters">
          <div class="col-md- 6">
            <div class="col-sm-6 col-md-12">
              <div class="team-block">
                <div class="carousel-inner">
                <div class="team-man">
                  <img src="../assets/cms.png">
                </div>
                </div></div></div>
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
                
                    <form action="">
                     <ng-container *ngFor="let user of userArray">
                         <tr class="table table-striped " *ngIf="filterCondition(user)">
                             <div class="signature">
                           <b> Name:</b>{{user.fullName}} <br>
                           <b> Position:</b>{{user.position}} 
                           <b> Department:</b>{{user.department}} <br>
                           <b> Address: </b>{{user.address}} <br>
                           <b>Email:</b>{{user.email}}<br>
                           <b>Phone:</b>{{user.phone}}
                           <b>Mobile</b>{{user.mobile}} <br>
                           <div class="team-social-network">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                          </div>

                          
         
                         </div>
                     </tr>
                 </ng-container>
                </form>
             </div>           
          </div>
        </div>
      </div>
      </div>
</div>
